<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="footer-section">
        <footer class="footer">
            <div class="container">
                <div class="footer-container">
                    <div class="footer-brand">
                        <a href="#" class="footer-logo">Nithin Burugu</a>
                        <p class="footer-text">Passionate about solving complex problems through code.</p>
                        <div class="footer-social">
                            <a href="tel: +91 9391269874" class="social-link">
                                <i class="fas fa-phone-alt"></i>
                            </a>
                            <a href="mailto:burugunithin03@gmail.com" class="social-link">
                                <i class="fas fa-envelope"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/burugu-nithin/" class="social-link" target="_blank">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a href="https://github.com/nithinburugu" class="social-link" target="_blank">
                                <i class="fab fa-github"></i>
                            </a>
                        </div>
                    </div>
                    <div class="footer-links-container">
                        <h3 class="footer-heading">Quick Links</h3>
                        <div class="footer-links">
                            <a href="#home" class="footer-link">
                                <i class="fas fa-chevron-right"></i>Home
                            </a>
                            <a href="#about" class="footer-link">
                                <i class="fas fa-chevron-right"></i>About
                            </a>
                            <a href="#projects" class="footer-link">
                                <i class="fas fa-chevron-right"></i>My Work
                            </a>
                            <a href="#experience" class="footer-link">
                                <i class="fas fa-chevron-right"></i>Experience
                            </a>
                            <a href="#achievements" class="footer-link">
                                <i class="fas fa-chevron-right"></i>Achievements
                            </a>
                        </div>
                    </div>
                    <div class="footer-links-container">
                        <h3 class="footer-heading">Quick Links</h3>
                        <div class="footer-links">
                            <a href="https://www.linkedin.com/in/burugu-nithin/" class="footer-link">
                                <i class="fas fa-chevron-right"></i>LinkedIn
                            </a>
                            <a href="https://github.com/nithinburugu" class="footer-link">
                                <i class="fas fa-chevron-right"></i>Github
                            </a>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <p>&copy; 2025 Nithin Burugu. All rights reserved.</p>
                </div>
            </div>
        </footer>
    </th:block>
</html>